<ons-page id="contact-list-page">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Zpět</ons-back-button>
        </div>
        <div class="center" id="page-title"></div>
    </ons-toolbar>
    <ons-list id="contact-list"></ons-list>
    
    <script id="contact-list-item" type="text/template">
        <ons-list-item class="contact-list-detail" >
            <div class="left contact-name">{{name}} <div class="left"></div></div>
            <div class="center contact-phone">{{phoneNumber}}</div>
            <div class="right">
                <ons-icon  class="icon" icon="ion-chevron-right"></ons-icon>
            </div>
            <div class="hidden contact-index">{{index}}</div>
        </ons-list-item>
    </script>
</ons-page>