<ons-page id="contact-list-page">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Zpět</ons-back-button>
        </div>
        <div class="center">Create request</div>
    </ons-toolbar>
    <ons-row>
        <ons-col>
            <ons-button id="payment-button" data-filter="payment" modifier="large">Na kontakt</ons-button>
        </ons-col>
        <ons-col>
            <ons-button id="request-button" data-filter="request" modifier="large">Na více kontaktů</ons-button>
        </ons-col>
    </ons-row>
    <ons-list id="contact-list"></ons-list>
    
    <script id="contact-list-item" type="text/template">
        <ons-list-item class="contact-list-detail" >
            <div class="left contact-name">{{name}}</div>
            <div class="center contact-phone">{{phoneNumber}}</div>
            <div class="right">
                <ons-icon icon="ion-chevron-right"></ons-icon>
            </div>
            <div class="hidden contact-index">{{index}}</div>
        </ons-list-item>
    </script>
    <ons-button id="create-new-contact" modifier="large
    ">Vytvořit nový kontakt</ons-button>
</ons-page>