<ons-page id="define-transaction-page">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Zpět</ons-back-button>
        </div>
        <div class="center">Define transaction</div>
    </ons-toolbar>
    <p>Telefonní číslo</p>
    <p>758 965 485</p>
    <p>Kontakt</p>
    <p>Jožka Němá</p>
    <p>Částka</p>
    <ons-input id="transaction-amount" placeholder="Částka" float></ons-input>
    <p>
        Zpráva pro příjemce
    </p>
    <ons-input id="transaction-message" placeholder="Zpráva pro příjemce" float></ons-input>
    <p>
        <ons-button onclick="submitTransaction()" id="submit-transaction-button">Odeslat</ons-button>    
    </p>
    
</ons-page>