<ons-page id="define-transaction-page">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Zpět</ons-back-button>
        </div>
    </ons-toolbar>
    <ons-list>
        <ons-list-header>Detail transakce</ons-list-header>
        <ons-list-item>
            <div class="left">Jméno</div>
            <div class="right transaction-recievers-name"></div>
        </ons-list-item>
        
        <ons-list-item>
            <div class="left">Telefonní číslo:</div>
            <div class="right transaction-recievers-phone"></div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">Částka</div>
            <div class="right"><ons-input id="transaction-amount" placeholder="Částka" float></ons-input></div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">Zpráva pro příjemce</div>
            <div class="right"><ons-input id="transaction-message" placeholder="Zpráva pro příjemce" float></ons-input></div>
        </ons-list-item>
        <ons-list-item>
        <ons-button modifier="large--cta" onclick="submitTransaction()" id="submit-transaction-button">Odeslat</ons-button>    
        </ons-list-item>
</ons-list>
</ons-page>