<ons-navigator class="pageNavigator">
    
<ons-page id="main-page">
    <ons-toolbar>
        <div class="center">Můj přehled</div>
        <div class="right">
            <ons-toolbar-button id="user-detail-button">
                <ons-icon icon="ion-android-more-vertical"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-list>
        <ons-list-header>Můj účet</ons-list-header>
        <ons-list-item>
            <ons-row>
                <ons-col width="70%">
                    <div clas="left"> Běžný účet </div>
                </ons-col>
                <ons-col>
                    <div class="right"> 12 478,88 </div>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col> 123456789 </ons-col>
            </ons-row>
        </ons-list-item>
        <ons-list-header> Rychlé akce </ons-list-header>
        <ons-row>
            <ons-col>
                <ons-button id="create-payment-button" modifier="large">Platba
                    <ons-icon icon="ion-arrow-right-c" size="25px" fixed-width="true"></ons-icon>
                </ons-button>
            </ons-col>
            <ons-col>
                <ons-button id="create-request-button" modifier="large">Request
                    <ons-icon icon="ion-arrow-return-left" size="25px" fixed-width="true"></ons-icon>
                </ons-button>
            </ons-col>
        </ons-row>
        <ons-list-header>Přehled toků</ons-list-header>
        <ons-row>
            <ons-col>
                <ons-button id="payment-button" data-filter="payment" modifier="large">Platby</ons-button>
            </ons-col>
            <ons-col>
                <ons-button id="request-button" data-filter="request" modifier="large">Requesty</ons-button>
            </ons-col>
        </ons-row>
    </ons-list>
    <ons-list id="transaction-list"></ons-list>
    
    <script id="transaction-list-item" type="text/template">
        <ons-list-item class="transaction-item-detail" >
            <div class="left transaction-party">{{name}}</div>
            <div class="center transaction-amount">{{amount}}</div>
            <div class="center transaction-state" style="margin-left: 1em">{{state}}</div>
            <div class="right">
                <ons-icon icon="ion-chevron-right"></ons-icon>
            </div>
        </ons-list-item>
    </script>
    

</ons-page>
</ons-navigator>