<ons-navigator id="pageNavigator">

<ons-page id="main-page">
    <ons-list>
        <ons-list-header>Můj účet</ons-list-header>
        <ons-list-item>
            <ons-row>
                <ons-col width="70%">
                    <div clas="left" id="account-name"></div>
                </ons-col>
                <ons-col>
                    <div class="right" id="account-balance"></div>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col id="account-number"></ons-col>
            </ons-row>
        </ons-list-item>
        <ons-list-header> Rychlé akce </ons-list-header>
        <ons-row>
            <ons-col>
                <ons-button id="create-payment-button" modifier="large">
                    <ons-icon icon="ion-arrow-up-c" size="50px" fixed-width="true"></ons-icon>
                    <p class="button-label">
                        Zaplatit
                    </p>
                </ons-button>
            </ons-col>
            <ons-col class="left-border">
                <ons-button id="create-request-button" modifier="large">
                    <ons-icon icon="ion-arrow-down-c" size="50px" fixed-width="true"></ons-icon>
                <p class="button-label">Připomenout se</p>
                    
                </ons-button>
            </ons-col>
        </ons-row>
        <ons-list-header>Přehled toků</ons-list-header>
        <ons-row class="select-box">
            <ons-col>
                <ons-button class="select-box-item-active select-box-left" id="incoming-payments-filter" data-filter="incoming" modifier="large">Přijaté</ons-button>
            </ons-col>
            <ons-col>
                <ons-button class="select-box-item select-box-center" id="outgoing-payments-filter" data-filter="outgoing" modifier="large">Odeslané</ons-button>
            </ons-col>
            <ons-col>
                <ons-button class="select-box-item select-box-right" id="unresolved-transactions-filter" data-filter="filter" modifier="large">Nevyřízené</ons-button>
            </ons-col>
        </ons-row>
    </ons-list>
    <div>
    <ons-list id="transaction-list"></ons-list>
    
    <script id="transaction-list-item" type="text/template">
        <ons-list-item class="transaction-item-detail" >
            <div class="left transaction-party">{{name}}</div>
            <div class="center transaction-amount">{{amount}}</div>
            <div class="center transaction-state" style="margin-left: 1em">{{state}}</div>
            <div class="right">
                <ons-icon icon="ion-chevron-right"></ons-icon>
            </div>
        </ons-list-item>
    </script>
        
    </div>
    
    <div class="tabbar">
        <div class="tabbar-button-active" id="tabbar-main-page">
        <ons-icon size="25px" icon="ion-ios-settings-strong"></ons-icon>
        <p class="tabbar-label">Aktivity</p></div>
        <div class="tabbar-button" id="tabbar-profile-page">
            <ons-icon size="25px" icon="ion-ios-paper-outline"></ons-icon>
        <p class="tabbar-label">Profil</p></div>
        <div class="tabbar-button" id="tabbar-contact-list-page">
            <ons-icon size="25px" icon="ion-person-stalker"></ons-icon>
        <p class="tabbar-label">Kontakty</p></div>
        <div class="tabbar-button" id="tabbar-invite-page">
            <ons-icon size="25px" icon="ion-android-share-alt"></ons-icon>
        <p class="tabbar-label">Pozvat</p></div>
        <div class="tabbar-button" id="tabbar-more-options">
            <ons-icon size="25px" icon="ion-ios-more-outline"></ons-icon>
        <p class="tabbar-label">Vice</p></div>
        
        </div>
    </div>

</ons-page>
</ons-navigator>