<ons-page id="more-options-page">
        
    <ons-toolbar>
        <div class="center">Rozšířená nabídka</div>
    </ons-toolbar>

    <p>This is the Onsen Page Template.</p>
     <div class="tabbar">
        <div class="tabbar-button" id="tabbar-main-page">
        <ons-icon size="25px" icon="ion-ios-settings-strong"></ons-icon>
        <p class="tabbar-label">Aktivity</p></div>
        <div class="tabbar-button" id="tabbar-profile-page">
            <ons-icon size="25px" icon="ion-ios-paper-outline"></ons-icon>
        <p class="tabbar-label">Profil</p></div>
        <div class="tabbar-button" id="tabbar-contact-list-page">
            <ons-icon size="25px" icon="ion-person-stalker"></ons-icon>
        <p class="tabbar-label">Kontakty</p></div>
        <div class="tabbar-button" id="tabbar-invite-page">
            <ons-icon size="25px" icon="ion-android-share-alt"></ons-icon>
        <p class="tabbar-label">Pozvat</p></div>
        <div class="tabbar-button" id="tabbar-more-options">
            <ons-icon size="25px" icon="ion-ios-more-outline"></ons-icon>
        <p class="tabbar-label">Vice</p></div>
        
        </div>
    </div>
</ons-page>