
<ons-page id="transaction-detail-page">
    <ons-toolbar>
    <div class="left">
            <ons-back-button>Přehled</ons-back-button>
        </div>
        <div class="center">Detail transakce</div>
    </ons-toolbar>
    <ons-row>
    
        <ons-col class="center-block upper-margin">
            <p  id="recievers-name"></p>
        </ons-col>
        <ons-col class="center-block">
            <ons-icon  icon="ion-person" size="70px" class="icon"></ons-icon>
        </ons-col>
        <ons-col class="center-block upper-margin">
            <p class="contact-detail" id="recievers-phone"></p>
            <p class="contact-detail" id="recievers-email"></p>
        </ons-col>
    </ons-row>
    <ons-list>
        <ons-list-header>Detail transakce</ons-list-header>
        <ons-list-item>
            <div class="left">Jméno</div>
            <div class="right" id="transaction-party"></div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">Datum</div>
            <div class="right" id="transaction-date"></div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">Částka</div>
            <div class="right" id="transaction-amount"></div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">Zpráva</div>
            <div class="right" id="transaction-message"></div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">Stav transakce</div>
            <div class="right" id="transaction-state"></div>
        </ons-list-item>
        <ons-list-item id="response-message-field">
            <ons-icon icon="ion-email" size="30px" ></ons-icon>
            <div class="right">
                <ons-input class="message-input-field" id="response-message-input" float></ons-input>        
            </div>
        </ons-list-item>
    </ons-list>
    <ons-row id="incoming-requests-action-buttons">
        <ons-col >
        <ons-button modifier="large" onclick="storage.rejectSelectedRequest()">
                Zrušit
            </ons-button>
        </ons-col>
        <ons-col >
            <ons-button modifier="large" onclick="storage.acceptSelectedRequest()">
                Zaplatit
            </ons-button>
        </ons-col>
    </ons-row>
       <ons-row id="outgoing-requests-action-buttons">
        <ons-col >
            <ons-button modifier="large" onclick="storage.cancelSelectedRequest()">
                Zrušit
            </ons-button>
        </ons-col>
    </ons-row>
    
</ons-page>
