
<ons-page id="user-detail-page">
    <ons-list>
        <ons-list-header>Detail uživatele</ons-list-header>
        <ons-list-item>
            <div class="left">Jméno</div>
            <div class="right" id="username-line"></div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">Telefon</div>
            <div class="right" id="phone-number-line"></div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">Email</div>
            <div class="right" id="email-line"></div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">Facebook</div>
            <div class="right" id="facebook-contact-line"></div>
        </ons-list-item>
    </ons-list>
     <div class="tabbar">
        <div class="tabbar-button" id="tabbar-main-page">
        <ons-icon size="25px" icon="ion-ios-settings-strong"></ons-icon>
        <p class="tabbar-label">Aktivity</p></div>
        <div class="tabbar-button-active" id="tabbar-profile-page">
            <ons-icon size="25px" icon="ion-ios-paper-outline"></ons-icon>
        <p class="tabbar-label">Profil</p></div>
        <div class="tabbar-button" id="tabbar-contact-list-page">
            <ons-icon size="25px" icon="ion-person-stalker"></ons-icon>
        <p class="tabbar-label">Kontakty</p></div>
        <div class="tabbar-button" id="tabbar-invite-page">
            <ons-icon size="25px" icon="ion-android-share-alt"></ons-icon>
        <p class="tabbar-label">Pozvat</p></div>
        <div class="tabbar-button" id="tabbar-more-options">
            <ons-icon size="25px" icon="ion-ios-more-outline"></ons-icon>
        <p class="tabbar-label">Vice</p></div>
        
        </div>
    </div>
</ons-page>
