<ons-page id="howto-page">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Zpět</ons-back-button>
        </div>
        <div class="center" id="page-header"> Návody </div>
        <div class="right" id="toolbar-continue"> </div>
    </ons-toolbar>
    <ons-list>
        <ons-list-header>Vytvoření Platby</ons-list-header>
        <ons-list-item>
            Aplikace umožňuje zadávat Platby ostatním uživatelům na základě znalosti telefonního čísla. Pro vytvoření Platby vyberte na hlavní stránce možnost "Zaplatit".
        </ons-list-item>
        <ons-list-header>Vytvoření Připomínky</ons-list-header>
        <ons-list-item>
            Aplikace umožňuje zadávat Připomínky ostatním uživatelům na základě znalosti telefonního čísla. Pro vytvoření Připomínky vyberte na hlavní stránce možnost "Připomenout se".
        </ons-list-item>
        <ons-list-header>Vytvoření nového kontaktu</ons-list-header>
        <ons-list-item>
            Aplikace umožňuje uživateli vytvořit a uložit nový kontakt v zařízení. Vytvoření nového kontaktu je umožněno přes stránku "Kontakty".
        </ons-list-item>
        <ons-list-header>Zobrazení transakcí</ons-list-header>
        <ons-list-item>
            Aplikace automaticky zobrazuje 20 posledních transakcí všech typů, které pomocí aplikace byly uskutečněny. Transakce je možné na hlavní stránce filtrovat podle kategorií a zobrazit detail.
        </ons-list-item>
        <ons-list-header>Vyřízení připomínek</ons-list-header>
        <ons-list-item>
            Na hlavní stránce pod filtrem "Nevyřízené" jsou uloženy dosud nevyřízené odchozí a příchozí Připomínky. Odchozí Připomínky je zde možné rušit, příchozí Připomínky je zde možné akceptovat nebo odmítnout. 
        </ons-list-item>
        <ons-list-header>Změna osobních údajů</ons-list-header>
        <ons-list-item>
            Aplikace umožňuje změnu základních osobních údajů uživatele. Úpravu je možné provést na stránce "Profil".
        </ons-list-item>
    </ons-list>
</ons-page>