<ons-page id="legal-scope-page">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Zpět</ons-back-button>
        </div>
        <div class="center" id="page-header">
            Právní rámec
        </div>
        <div class="right" id="toolbar-continue">
            
        </div>
    </ons-toolbar>
    
     <ons-list>
        <ons-list-header>1. Úvodní ustanovení</ons-list-header>
        <ons-list-item>
            <p>1.1: Tyto Podmínky užívání aplikace BillMe (dále jen Aplikace) upravují práva a povinnosti smluvního vztahu mezi Provozovatelem a Uživatelem Aplikace (dále jen „Podmínky“).</p>
            <p>1.2: Aplikace je nástroj pro P2P placení a žádání o uhrazení finanční částky. Aplikace je zpřístupněna Provozovatelem Uživateli prostřednictvím Aplikace pro smartphone s operačním systémem Android nebo iOS. Aplikace je ve smyslu Autorského zákona autorským dílem a výkon veškerých majetkových práv k aplikaci náleží Provozovateli.</p>
            
        </ons-list-item>
        <ons-list-header>2. Práva a povinnosti Uživatele</ons-list-header>
        <ons-list-item>
            <p>2.1: Uživatel je oprávněn užívat Aplikaci pouze v rozsahu, v jakém to funkce a podmínky užívání této aplikace umožňují, tedy zejména provádět P2P platby a vystavovat připomínky ostatním uživatelům.</p>
            <p>2.2: Uživatel se zároveň zavazuje neužívat Aplikaci žádným jiným způsobem, který by mohl narušit práva Provozovatele, zejména jakkoli měnit či dekompilovat aplikaci, ani podnikat podobné kroky za účelem získání zdrojového kódu Aplikace nebo z vygenerovaných dokladů odstraňovat či měnit ochranné známky či označení Provozovatele.</p>
        </ons-list-item>
        <ons-list-header>3. Práva a povinnosti Provozovatele</ons-list-header>
        <ons-list-item>
            <p>3.1: Provozovatel nenese žádnou odpovědnost za data a údaje, které má Uživatel uložené pod svým Uživatelským účtem.</p>
            <p>3.2: Provozovatel negarantuje dostupnost Aplikace 24 hodin denně.</p>
            <p>3.3: Provozovatel neručí, že Aplikace bude bez vad spolupracovat s jiným hardware nebo software.</p>
        </ons-list-item>
        <ons-list-header>4. Zásady ochrany osobních údajů</ons-list-header>
        <ons-list-item>
            <p>4.1: Osobní údaje jsou zpracovávány v souladu se zákonem č. 101/2000 Sb., o ochraně osobních údajů (dále jen ZOOÚ), v platném znění. Správcem a zároveň zpracovatelem osobních údajů je Provozovatel (bod 1.3) těchto Podmínek (bod 1.1).</p>
        </ons-list-item>
        </ons-list>
    
    
</ons-list>
</ons-page>