/* --------------------- General styles    -----------------------------*/

.hidden {
    display: none;
    }
    
    .center-block {
        text-align: center;
    }
.right-block{
    text-align: right;
}

.upper-margin{
    margin-top: 20%;
    
}

.header-name {
    margin-top: 0;
    
}    
.right-floater{
    float: right;
    
}

.smaller-text{
    font-size: 0.8em
}

.center-text{
    text-align: center;
}
/* ----------------- Styles regarding authentication-page.html -----------------------------*/

#login-template{
    width: 1px;
    
}

#authentication-block{
    margin-top: 15%;
}

#main-logo{
    margin-top: 10%
    
}

.login-input-field {
    width: 70%;
    padding-left: 2%;
    margin-bottom: 5%
}

.login-icon{
    margin: -1.7% 5%;
    color: #2987bb;
}

#register-button {
    margin-top: 8%;
    background-color: grey;
}

.red-text {
    color: #ec8b72;
    font-family: Helvetica;
    font-size: 0.8em;
    margin: 0 0,5em;
    
}

.incorrect-note {
    margin: 0.5em;
    
}

/* ----------------- Styles regarding main-page.html -----------------------------*/

.red {
    color: #ec8b72;
}
.button-label{
    margin: 0;
    
}

.left-border{
    border-left: 1px solid white;
}

.transaction-amount{
    padding-left: 15px
    text-align: right;
    width:20%;
}

.transaction-party{
    width: 65%
}

/* ----------------- Styles regarding invite-freind-page.html --------------------*/

.invite-friend-block{
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
    
}

.invite-friend-header{
    font-size: 1em;
    
    color: #8c8c8c;
}

/* ----------------- Styles regarding phone-contacts-page.html --------------------*/

.contact-button-label{
    font-size: 13px;
}

.contact-toolbar {
    margin-top: 10%
}

.contact-name {
    width: 60%;
}

.contact-number {
    width: 30%
}

.valid-icon {
    color: #92CD00;
}
/* ----------------- Styles regarding set-amount-page.html --------------------*/
.contact-detail{
    font-size: 10px;
    margin: 2px;
}

.correct-input-field {
 height: 10%;
 border: 1px solid #25a6d9;
 padding: 10px;
 margin-bottom: 10px
    
}

.incorrect-input-field{
    height: 10%;
    border: 1px solid #ec8b72;
    padding: 10px;
    margin-bottom: 10px
    
}

/* ----------------- Styles regarding confirm-transaction-page.html --------------------*/

.dark-pannel {
    background-color: #4282cc;    
    color: white;
    padding-top: 5px;
    padding-bottom: 10px;
}

.dark-pannel p {
    margin: 8px 0;
}

.amount-pannel {
    border-radius: 25px;
    background-color: white;
    color: #4282cc;
    width: 50%;
    margin-left: 25%;
    padding: 3px 0;
}

.message-input-field {
 border: 1px solid #25a6d9;
}


