/* --------------------- General styles    -----------------------------*/

.hidden {
    display: none;
    }
    
    .center-block {
        text-align: center;
    }
.right-block{
    text-align: right;
}
    
/* ----------------- Styles regarding main-page.html -----------------------------*/

.red {
    color: red;
}
.button-label{
    margin: 0;
    
}

.left-border{
    border-left: 1px solid white;
}
/* ----------------- Styles regarding invite-freind-page.html --------------------*/

.invite-friend-block{
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
    
}

.invite-friend-header{
    font-size: 1em;
    
    color: #8c8c8c;
}

/* ----------------- Styles regarding phone-contacts-page.html --------------------*/

.contact-button-label{
    font-size: 13px;
}

.contact-toolbar {
    margin-top: 10%
    
}

