/* This is a CSS file */

.tabbar {
    width: 100%;
    display: tableů
    table-layout:fixed;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    white-space: nowrap;
    margin: 0;
    background-color: #fff;
    border-top:1px solid #ccc;    
    height: 55px;
    padding-top: 5px;
    }
    
    .tabbar-button{
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        background-clip: padding-box;
        margin: 0;
        border: none;
        overflow: hidden;
        padding: 0;
        width: 18%;
        text-align: center;
        font-weight: 400;
        height: 80%;
    line-height: 49px;
    letter-spacing: 0;
    font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
    font: inherit;
    padding-left: 2px;
    }
    
    .tabbar-label {
        line-height: 20px;
    letter-spacing: 0;
    font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 13px;
    margin: 0;
            color: #909090

        
    }
    
    .tabbar-button ons-icon{
        color: #909090
        
    }
    
    .tabbar-button-active ons-icon{
        color: #9ac4fc
    }
    
    .tabbar-button-active .tabbar-label {
        line-height: 20px;
    letter-spacing: 0;
    font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 13px;
    margin: 0;
            color: #9ac4fc

        
    }
    .tabbar-button-active{
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        background-clip: padding-box;
        margin: 0;
        border: none;
        overflow: hidden;
        padding: 0;
        width: 18%;
        text-align: center;
        font-weight: 400;
        height: 80%;
    line-height: 49px;
    letter-spacing: 0;
    font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
    font: inherit;
    padding-left: 2px;
    }